.link-container {
  padding: 1rem;

  .form-group {
    margin-bottom: 1rem;
  }

  .button-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .link-box {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    word-break: break-all;
  }
}

.link-created {
  font-weight: 600;
  font-size: 1.125rem;
  margin-left: 0.125rem;
}

.link{
  margin-left: 0.125rem;
}

.link-link {
  color: var(var(--tui-text-action-hover));
}

.link-date {
  margin-left: 0.125rem;
  margin-bottom: 1rem;
}
