<div class="tui-container tui-container_adaptive">
  <h2 tuiHeader="m" class="ms-1 mb-4 mt-3">
    <span tuiTitle>Параметры</span>
  </h2>

  <div *ngIf="loading" class="tui-container tui-container_adaptive tui-space_vertical-5">
    <tui-loader class="tui-space_vertical-5"></tui-loader>
  </div>

  <ng-container *ngIf="!loading">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Parameter selector -->
      <h2 tuiTitle class="ms-1 mb-1">Выбрать параметр</h2>
      <tui-select
        formControlName="parameterName"
        class="mb-4"
        [stringify]="parameterNameStringify"
        [disabled]="!!doctorId"
      >
        Параметр
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let param of parameterNames"
            tuiOption
            type="button"
            [value]="param"
            class="mb-2"
          >
            {{ parameterNameStringify(param) }}
          </button>
        </tui-data-list>
      </tui-select>

      <ng-container *ngIf="selectedParameter">
        <div class="tui-row tui-row_adaptive">
          <div class="tui-col_md-6">
            <h2 tuiTitle class="ms-1 mb-1">Нижняя граница</h2>
            <tui-input-number
              formControlName="lowerBound"
              class="mb-4"
              [min]="0"
              [disabled]="!!doctorId"
            >
              Нижняя граница
            </tui-input-number>
          </div>

          <div class="tui-col_md-6">
            <h2 tuiTitle class="ms-1 mb-1">Верхняя граница</h2>
            <tui-input-number
              formControlName="upperBound"
              class="mb-4"
              [min]="0"
              [disabled]="!!doctorId"
            >
              Верхняя граница
            </tui-input-number>
          </div>
        </div>

        <button
          *ngIf="!doctorId"
          tuiButton
          type="submit"
          class="btn-full-width mt-4"
          [disabled]="form.invalid || submitting"
        >
          Сохранить
        </button>
      </ng-container>
    </form>
  </ng-container>
</div>
