.patients-container {
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  .filters-container {
    margin-bottom: 1rem;

    tui-accordion {
      display: block;
      width: 100%;
    }

    .filters-accordion {
      width: 100%;
      display: block;
      border-radius: 6px;
    }
  }

  :host ::ng-deep .t-accordion {
    border: none;
    border-radius: 6px;
    overflow: hidden;
  }

  .filter-fields {
    display: flex;
    gap: 0.5rem;

    tui-input {
      flex: 1;
    }
  }

  .loading-state, .error-state, .no-data {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }

  .patients-table {
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 6px;
      overflow: hidden;

      th, td {
        padding: 0.75rem;

        &:first-child {
          width: 20%;
        }

        &:nth-child(2) {
          width: 25%;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:nth-child(4) {
          width: 15%;
        }
      }

      .patient-row {
        cursor: pointer;

        &:hover {
          color: var(--tui-text-action-hover);
        }
      }
    }
  }

  .pagination-container {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}

.link-container {
  margin: 1rem 0;

  .link-box {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    .link-url {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }
}
