.axes {
  height: 12.5rem;
  color: var(--tui-chart-categorical-08);
}

.chart {
  width: 100%;
  height: 100%;
}

.statistics-no-data {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.925rem;
}
