.communication-widget {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 10px 0;
  background: #fff;
}

.link-item {
  margin-bottom: 15px;
  padding: 10px;

  p {
    margin: 5px 0;
  }
}

h3 {
  margin-bottom: 15px;
}

hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.empty-links-message {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: #575656;
}
